<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Job automation</title>
</head>
<body>
    <h1>Job Research Automation</h1>
    <hr>
    <div class="content">
    <form method="post" action="/jobs">
        <p>
            <b><label for="content">Nom du job que vous souhaitez : </label></b>
        </p>
        <p>
            <input type="text" name="title"
                placeholder="Job Title"></input>

            <input type="text" name="company"
                placeholder="Company"></input>
        </p>

        </p>
        <button type="submit">Valider</button>
    </form>
    <hr>
    </div>
</body>
</html>
